In [1]:
import pandas as pd
from pandas import datetime
import seaborn as sns
from ipywidgets import interact
import matplotlib.pyplot as plt
%matplotlib inline
import pyodbc
import adodbapi
%load_ext sql
import numpy as np

In [2]:
# MSSQL Management Studio Connection

conn = pyodbc.connect('Driver={SQL server};'
                      'server=DESKTOP-DS7J579\PYTHON_DA;'
                      'Database=AdventureWorks2012;'
                      'uid=PyXXXXXXXX;'
                      'pwd=PyXXXXXXXX;'
                      'trusted_connection=yes')
cursor = conn.cursor()

In [3]:
# Sample SQL Data pull

df = pd.read_sql_query('select FirstName,'
                       'LastName,'
                       'City,'
                       'StateProvinceName '
                        'from Sales.vIndividualCustomer',conn)

In [4]:
# Display Query

df.head()

   FirstName LastName           City StateProvinceName
0      Aaron    Adams         Downey        California
1       Adam    Adams  Newport Beach        California
2       Alex    Adams    Lake Oswego            Oregon
3  Alexandra    Adams     Burlingame        California
4    Allison    Adams        Roubaix              Nord